EXPO_PUBLIC_PORTA=5080
EXPO_PUBLIC_TOKEN_KEY=token_servseg

# Configuracao da URL da API:
# Para Emulador Android Studio: use http://10.0.2.2:5080
# Para Web / iOS Simulator: use http://localhost:5080
# Para Celular Fisico (Expo Go via Wi-Fi): use http://SEU_IP_LOCAL:5080
EXPO_PUBLIC_API=http://localhost:5080
EXPO_PUBLIC_API_5080=http://localhost:5080
