# URL base apontando para a porta do launchSettings.json (ex: 5080)
EXPO_PUBLIC_API_URL=http://10.0.2.2:{porta}/api

# URL base apenas para imagens/arquivos estáticos
EXPO_PUBLIC_IMG_URL=http://10.0.2.2:{porta}

# Chaves de uso do App
EXPO_PUBLIC_TOKEN_KEY=SuaChaveAqui
