# URL base da API
EXPO_PUBLIC_API_URL=https://esophagus-await-luxurious.ngrok-free.dev/api

# URL base para imagens/arquivos estáticos
EXPO_PUBLIC_IMG_URL=https://esophagus-await-luxurious.ngrok-free.dev

# Chave usada para salvar/recuperar o JWT no AsyncStorage
EXPO_PUBLIC_TOKEN_KEY=JWTKEY    